header{
    width: 100%;
    background-color: #0b033c;
    height:80px;
}
nav{
    display: flex;
    justify-content: center;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
}
nav li{
    display:inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    font-family:Garamond;
}
a:link{
    text-decoration: none;
    color: #fafa30;
}
a:visited{
    text-decoration: none;
    color: #fafa30;
}